.biggerR{
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
}
.contreadR{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titleR{
    text-align: center;
    margin: 0;
    font-size: 21px;
    font-weight: 800;
    color: #ddd;
    letter-spacing: 1px;
}
.drR{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.btnsR{
    display: flex;
    flex-direction: row;
    
}
.btnR{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    background: #ff004d;
    color: #ddd;
    margin: 5px;
    border-radius:15px;
    transition: 300ms;
}
.btnR:hover{
    background-color: #333;
    transition: 300ms;
}

.btnDR{
    background-color: #333;
    cursor: context-menu; 
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #ff004d;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .selectR{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #ff004d;
    overflow: hidden;
    border-radius: .25em;
 }
 .selectR::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ac1240;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .selectR:hover::after {
    color: #690d0d;
 }
 .mangachapR{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     flex-direction: column;
     margin-top: 50px;
     margin-bottom: 50px;
     min-height: 700px;
 }